In [1]:
import pymongo
import json

In [2]:
client = pymongo.MongoClient("mongodb://localhost/27017")

In [3]:
client.list_database_names()

['admin', 'config', 'local', 'university']

In [4]:
uniDb= client["university"]
studentCol = uniDb["students"]

In [25]:
 result = studentCol.delete_many({})

In [26]:
try:
    f = open("people.json",)
    people = json.load(f)
    f.close()
except Exception as e:
    print(e)

In [27]:
print(people['students'])
inserted = studentCol.insert_many(people['students'])

[{'id': 897654, 'fullName': {'title': 'Mrs', 'first': 'Lisa', 'surname': 'Penny', 'other': ['Melanie']}, 'age': 32, 'city': 'London'}, {'id': 786789, 'fullName': {'title': 'Mr', 'first': 'Lorenzo', 'surname': 'Dubois', 'other': ['Ruelle', 'Garlen']}, 'age': 38, 'city': 'Paris'}, {'id': 546854, 'fullName': {'title': 'Mr', 'first': 'Takeshi', 'surname': 'Tanaka', 'other': [None]}, 'age': 25, 'city': 'Tokyo'}, {'id': 238751, 'fullName': {'title': 'Mr', 'first': 'Tanveer', 'surname': 'Patel', 'other': ['Vihaan']}, 'age': 27, 'city': 'Mumbai'}, {'id': 894573, 'fullName': {'title': 'Miss', 'first': 'Iolanda', 'surname': 'Melo', 'other': ['Bianca']}, 'age': 23, 'city': 'Lisbon'}]

In [78]:
cursor = studentCol.find({"age":{"$gt":25}})

In [79]:
for record in cursor:
    print(record['fullName'])

{'title': 'Mrs', 'first': 'Lisa', 'surname': 'Penny', 'other': ['Melanie']}
{'title': 'Mr', 'first': 'Lorenzo', 'surname': 'Dubois', 'other': ['Ruelle', 'Garlen']}
{'title': 'Mr', 'first': 'Tanveer', 'surname': 'Patel', 'other': ['Vihaan']}

In [85]:
cursor = studentCol.find({"fullName.other":[None]})

In [86]:
for record in cursor:
    print(record['id'])

546854

In [134]:
count = studentCol.count_documents({"$and":[{"fullName.title":{"$in":["Miss","Mrs"]}},{"city":{"$ne":"Tokyo"}}]})

In [133]:
print(count)

2

In [139]:
count = studentCol.count_documents({"$and":[{"fullName.title":"Mr"}, {"city":{"$ne":"Tokyo"}}]})

In [140]:
print(count)

2