In [47]:
import pandas as pd
import numpy as np

#### Exercise 1

In [6]:
#1. A list
animals  = ['elephant', 'panda', 'mouse', 'penguin']
a = pd.Series(animals)
print(a)

0    elephant
1       panda
2       mouse
3     penguin
dtype: object

In [9]:
#2 matrix
matrix = [["1A", "2A", "3A",  "4A"],
          ["1B", "2B", "3B", "4B", "5B"],
          ["1C", "2C", "3C"]]
a = pd.DataFrame(matrix)
print(a)

    0   1   2     3     4
0  1A  2A  3A    4A  None
1  1B  2B  3B    4B    5B
2  1C  2C  3C  None  None

In [10]:
#3 Tuples
fruit = ("Apples", "Oranges", "Bananas")
a = pd.Series(fruit)
print(a)

0     Apples
1    Oranges
2    Bananas
dtype: object

In [13]:
#4 Sets
even = {2,4,6,8,10}
odd = {1,3,5,7,9}
byThree  = {3,6,9,12,15}
numbers = {1,2,3,4,5,6,7,8,9,10}
a = pd.Series(even)
b = pd.Series(odd)
c = pd.Series(byThree)
d = pd.Series(numbers)
print(a)
print(b)
print(c)
print(d)

TypeError: 'set' type is unordered

In [12]:
#5 Dicts
person = {'name': 'Frank', 'age':56, 'height': 6 * 12 + 2}
a = pd.Series(person)
print(a)

name      Frank
age          56
height       74
dtype: object

#### Exercise 2

In [131]:
df = pd.read_csv("SalesData.csv", index_col=0)
print(df)

    Apr-18  May-18  Jun-18  Jul-18  Aug-18  Sep-18  Oct-18  Nov-18  Dec-18  \
L3     390     345     379     353     365     326     363     459     539
L1     392     377     347     395     330     332     340     446     573
P2     250     270     300     398     376     382     306     489     552
N6     460     480     450     310     392     383     314     402     640
N4     460     480     450     387     388     320     337     478     676
B8     470     510     360     472     423     385     353     464     598

    Jan-19  Feb-19  Mar-19
L3     474     340     343
L1     464     223     216
P2     488     298     269
N6     495     215     243
N4     408     338     263
B8     419     459     659

In [132]:
# Sales for P2 and B8 in Nov-18, Feb-18 and Mar-19
sales = df.loc[['P2','B8'],['Nov-18','Feb-19','Mar-19']].sum()
print(sales)

Nov-18    953
Feb-19    757
Mar-19    928
dtype: int64

In [133]:
# third quarter (Oct-18 to Dec-18) what were the sales figures for London (L3 & 2) and what was the monthly percentage increase?
sales = df.loc[['L3','L1'],['Oct-18','Nov-18','Dec-18']].sum()
print("Sales Figures for L3 and L1 \n",sales)
print("Monhly Precentage Sales Change \n", sales.pct_change())

Sales Figures for L3 and L1
 Oct-18     703
Nov-18     905
Dec-18    1112
dtype: int64
Monhly Precentage Sales Change
 Oct-18         NaN
Nov-18    0.287340
Dec-18    0.228729
dtype: float64

In [134]:
# What were the top three months for New York (N6 and N4) and in which stores did they occur?
df.loc[['N6','N4']].T.nlargest(3,['N6','N4'])

         N6   N4
Dec-18  640  676
Jan-19  495  408
May-18  480  480

In [135]:
# What was the overall lowest sales figure in which store and which month?
df.loc[['N6','N4']].T.nsmallest(1,['N6','N4'])

         N6   N4
Feb-19  215  338

#### Exercise 3

In [152]:
# create a new data table, including headings, that gives the percentage increase for each month, based on the stores average for the year.
pia = df.apply(lambda x: ((x-np.average(x))/np.average(x))*100, axis=1)
print("New Table -  Percent Increase based on annual Average \n", pia)

New Table -  Percent Increase based on annual Average
        Apr-18     May-18     Jun-18     Jul-18     Aug-18     Sep-18  \
L3   0.085543 -11.462789  -2.737382  -9.409752  -6.330197 -16.338751
L1   6.065389   2.006764  -6.110485   6.877114 -10.710259 -10.169109
P2 -31.475560 -25.993604 -17.770672   9.090909   3.060758   4.705345
N6  15.384615  20.401338  12.876254 -22.240803  -1.672241  -3.929766
N4  10.732197  15.546640   8.324975  -6.840522  -6.599799 -22.968907
B8   1.220388   9.834889 -22.469490   1.651113  -8.901651 -17.085427

       Oct-18     Nov-18     Dec-18     Jan-19     Feb-19     Mar-19
L3  -6.843456  17.792985  38.323353  21.642429 -12.745937 -11.976048
L1  -8.004510  20.676437  55.039459  25.546787 -39.661781 -41.555806
P2 -16.126085  34.033805  51.301964  33.759708 -18.318867 -26.267702
N6 -21.237458   0.836120  60.535117  24.163880 -46.070234 -39.046823
N4 -18.876630  15.065196  62.728185  -1.785356 -18.635908 -36.690070
B8 -23.977028  -0.071788  28.786791  -9.763101  -1.148600  41.923905

In [154]:
# Which store had the largest and smallest increase and in which months did they occur?
print("Smallest increases by store \n", pia.idxmin(axis=1))
print("Largest increases by store \n", pia.idxmax(axis=1))
#    Across all the stores which months showed the smallest average increase and the largest average increase

Smallest increases by store
 L3    Sep-18
L1    Mar-19
P2    Apr-18
N6    Feb-19
N4    Mar-19
B8    Oct-18
dtype: object
Largest increases by store
 L3    Dec-18
L1    Dec-18
P2    Dec-18
N6    Dec-18
N4    Dec-18
B8    Mar-19
dtype: object